body {

    /* background: url('imp91.png'); */
    background-image: url(img21.webp);
    background-color: rgba(128, 128, 128, 0.589);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: ArcadeClassic;
    src: url(arcadeclassic.regular.ttf);


    /* background-color: #000011;*/
}


/* .wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: height .2s ease,height .2s ease;
} */


.wrapper {
    position: absolute;
    top: 5%;
    right: 5%;

    width: 400px;
    height: 600px;
    /* background: rgba(10, 38, 54, 0.719); */

    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 30px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.664);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: height .2s ease, height .2s ease;
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #0f0f0f;
    font-size: 2em;
    color: #daeaf1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2 {
    font-size: 2em;
    color: rgb(241, 234, 234);
    text-align: center;

}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: rgb(238, 233, 233);
    font-weight: 500;
    pointer-events: none;
    transition: .5s;

}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: rgb(240, 236, 236);
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: rgb(252, 247, 247);
    line-height: 57px;

}


.remember-forget {
    font-size: .9em;
    color: rgb(230, 226, 226);
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forget a {
    color: rgb(231, 225, 225);
    text-decoration: none;
}

.remember-forget a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: black;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: aliceblue;
    font-weight: 500;
    font-family: ArcadeClassic;

    src: url(arcadeclassic.regular.ttf);
}

.login-register {
    font-size: .9em;
    color: rgb(247, 242, 242);
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: rgb(224, 223, 223);
    text-decoration: none;
    font-weight: 600;

}

.login-register p a:hover {
    text-decoration: underline;
}

/* 
.l {
    position: absolute;
    top: -5%;
    left: -2%;
    height: 345%;
    border: 2px solid #0f0f0f;
    width: 5%;
    padding: 5%;
    background: transparent;
    border-radius: 20px;
    backdrop-filter: blur(40px);
    box-shadow: 0 0 30px rgb(0, 0, 0, 8.9);
    justify-content: center;
    align-items: center;
    overflow: hidden;

} */



/* .navbar li a {
    position: absolute;
    left: 10%;
    text-decoration: underline;
    font-size: 25px;
    font-weight: 900;
    color: #f7f7f7;
    padding: 0px;
    font-family: Griffy;
    
}

.navbar li a:hover,
.navbar li a:active {
    text-decoration: underline;
    color: #689cb4;
} */



/* .contain {
    position: absolute;
    font-weight: bold;
    left: 128px;
    top: 50%;
    width: 30%;
    padding: 10px;
    text-align: center;

    font-size: 20px;
   
    color: #f2f7fa;

} */

.mid {
    display: inline-block;
    width: 10%;
    /*border:2px solid rgb(245, 240, 240);*/
    position: absolute;
    left: 0%;
    
    font-size: 30px;
    padding: 1%;
    top: 12px;
    color: blue;
}



.navbar {
    list-style: none;
    display: flex;
    flex-direction: column;

    /* align-items: center; */
    position: fixed;
    top: -12%;
    left: 0px;
    width: 120px; 
    height: 100%;
    background: #0d0d0d;
    transition: 0.5s;
    padding: 10px;
  
    border: 2px solid #0f0f0f;
    width: 3%;
    padding: 5%;
    background: transparent;
    border-radius: 20px;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 30px rgb(0, 0, 0, 8.9);

    overflow: hidden;
  
    
  }
/*   
  .navbar.active {
    left: 0;
    transition: 0.5s;
  } */
  
  .navbar li {
    margin-bottom: 50px; 
    margin-left: 10px;
  }

  .navbar li i {
    margin-right: 10px;
    margin-left: -80px
  }
  
  .navbar li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    color: #f7f7f7;
  }
  
  .navbar li a:hover,
  .navbar li a:active {
    color: #689cb4;
  }

.te{
    white-space: nowrap;
   text-decoration: underline;
padding: 30%;
    border-radius: 25%;
}

.btnlogin-popup {
    /* position: absolute;
    bottom: -50%;
    left: 10%; */
    font-family: ArcadeClassic;
    margin-bottom: 40px;
    /* font-family: Griffy; */
    /* src: url(arcadeclassic.regular.ttf); */
    font-size: 30px;
    font-weight: 900;
    color: #eff1f1;
    padding: 34%;
    background-image: url(img11.png);
    border: 2px solid #011014;
    
    border-radius: 25%;
    background: transparent;
    backdrop-filter: blur(40px);
}

.btnlogin-popup:hover {
    color: #689cb4;
}

#message {
    display: none;
    background: #8ba8b881;
    color: #ebe1e1;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#message h1 {
    padding: 5px 25px;
    font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: rgb(61, 131, 61);
}


/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
    color: rgb(173, 77, 77);
}

.outerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.innerDiv {
    background: rgba(1, 16, 29, 0.699);
    padding: 30px;
    /* border: 2px solid rgb(96, 111, 160); */
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3%;
}


.innerDivHover {
    background: rgba(1, 16, 29, 0.699);
    padding: 30px;
    /* border: 2px solid rgb(96, 111, 160); */
      border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    justify-content: center;
    align-items: center;
}

.innerDivHover:hover {
    background: rgba(1, 28, 53, 0.772);
}

h1 {
    color: #daeaf1;
}


.wrapper .form-box.register {
    /* Remove any specific styles for the registration form */
    /* Add styles to make the registration form match the size of the login form */
    width: 100%;
    padding: 40px;
}


.input-box.register label {
    /* Adjust label position for the registration form */
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: rgb(17, 16, 16);
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}




.loader {
    position: relative;
    left: 44%;
    border: 9px solid #697e96;
    /* Light grey */
    border-top: 16px solid #3471dbf9;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.frm {
    background-color: rgb(37, 41, 65);
    font-size: large;
    font-family: ArcadeClassic;
    /* src: url('./../resources/arcadeclassic.regular.ttf'); */
    border-radius: 5%;
    border-color: rgb(85, 98, 141);
    color: aliceblue;
}

.frm:hover {
    background-color: rgb(47, 55, 99);
    scale: 105%;
}


.button {
    font-size: 1.5em;
    font-weight: 700;
    color: rgb(224, 230, 236);
    background-color: rgb(39, 57, 77);
    border-radius: 5px;
    display: inline-block;
    padding-left: 3%;
    padding-right: 3%;
}

.button:hover {
    background-color: rgb(48, 84, 126);
    scale: 105%;
}

.oo{
    margin-right: 10px;
    margin-left: -80px;
    position: absolute;
    top: 68%;

  }

  .pay{
    position: absolute;
    top:68%;
    left:25%;
  }