* {
    box-sizing: border-box
  }
  
  body {
    background-image: url("./../resources/img21.webp");
    background-color: rgba(128, 128, 128, 0.589);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
    font-family: ArcadeClassic;
    src: url(./../resources/arcadeclassic.regular.ttf);
  
    justify-content: center;
    align-items: center;
  
    display: flex;
  
    margin: auto;
  
  }
  
  .outerDiv {
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50%;
    width: 75%;
    margin: 3%;
  }
  
  .innerDiv {
    background: rgba(1, 16, 29, 0.699);
    padding: 30px;
    height: 100%;
    border: 2px solid rgb(96, 111, 160);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    justify-content: center;
    align-items: center;
    position: relative;
    left: 2%;
  }
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    justify-content: center;
    align-items: center;
  
    margin: auto;
  
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(6, 31, 69, 0.718);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    background-color: rgba(51, 51, 51, 0.745);
    border-radius: 15%;
  
  
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .slideshow-container .dot {
    cursor: pointer;
    height: 6px;
    width: 6px;
    margin: 0 2px;
    background-color: #164b87;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .slideshow-container .active,
  .slideshow-container .dot:hover {
    background-color: #176593;
    scale: 200%;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {
        opacity: .4
    }
  
    to {
        opacity: 1
    }
  }s
  
  
  
  .mid {
      display: inline-block;
      width: 10%;
      /*border:2px solid rgb(245, 240, 240);*/
      position: absolute;
      left: 0%;
      
      font-size: 30px;
      padding: 1%;
      top: 12px;
      color: blue;
  }
  
  
  
  .navbar {
      list-style: none;
      display: flex;
      flex-direction: column;
  
      /* align-items: center; */
      position: fixed;
      top: 10%;
      left: -250px;
      width: 120px; 
      height: 100%;
      background: #0d0d0d;
      transition: 0.5s;
      padding: 10px;
    
      border: 2px solid #0f0f0f;
      width: 12%;
      padding: 5%;
      background: transparent;
      border-radius: 20px;
      backdrop-filter: blur(30px);
      box-shadow: 0 0 30px rgb(0, 0, 0, 8.9);
  
      overflow: hidden;
    
      
    }
    
    .navbar.active {
      left: 0;
      transition: 0.5s;
    }
    
    .navbar li {
      margin-bottom: 40px; 
      margin-left: 10px;
    }
  
    .navbar li i {
      margin-right: 100%;
      margin-left: -444%;
    }
    
    .navbar li a {
      text-decoration: none;
      font-size: 20px;
      font-weight: 900;
      color: #f7f7f7;
    }
    
    .navbar li a:hover,
    .navbar li a:active {
      color: #689cb4;
    }
  
  .te{
      white-space: nowrap;
     text-decoration: underline;
  padding: 30%;
      border-radius: 25%;
  }
  
  
  
  
  
  
  .fa-bars {
      position: fixed;
      top: 7%;
      left: 2%;
      font-size: xx-large;
      color: #daeaf1;
    }
  
    /* .oo{
      margin-right: 10px;
      margin-left: -80px;
      position: absolute;
      top: 58%;
  
    } */
  
    /* .pay{
      position: absolute;
      top:58%;
      left:25%;
    }
  */

  /* .oo{
    margin-right: 100%;
    margin-left: -444%;
  }
    .logout{
      text-decoration: none;
      font-size: 20px;
      font-weight: 900;
      color: #f7f7f7;
    }

    .logout:hover {

      color: #689cb4;
    } */