.UploadImage__StyledUploadImage-sc-vfspzq-1 gwLIPt {
    --primary: #01A5FF;
    --brand-gradient: linear-gradient(92.99deg, #0148BA 1.35%, #01A5FF 104.47%);
    --brand-gradient-reverse: linear-gradient(92.99deg, #01A5FF 1.35%, #0148BA 104.47%);
    --brand-gradient-erasebg: linear-gradient(120.55deg, #FF4040 18.56%, #A20BD8 98.01%);
    --brand-gradient-erasebg-reverse: linear-gradient(120.55deg, #A20BD8 18.56%, #FF4040 98.01%);
    --brand-gradient-upscale: linear-gradient(107.65deg, #17C969 17.53%, #005DBB 94.64%);
    --brand-gradient-upscale-reverse: linear-gradient(107.65deg, #005DBB 17.53%, #17C969 94.64%);
    --brand-gradient-watermark: linear-gradient(132.2deg, #F9D423 7.64%, #FF4E50 97.11%);
    --brand-gradient-watermark-reverse: linear-gradient(132.2deg, #FF4E50 7.64%, #F9D423 97.11%);
    --brand-gradient-shrink: linear-gradient(90.36deg, #AD00FF 0.31%, #330371 104.9%);
    --brand-gradient-shrink-reverse: linear-gradient(120.55deg, #330371 18.56%, #AD00FF 98.01%);
    --brand-gradient-glamar: linear-gradient(to right, #D78464, #333333);
    --brand-gradient-glamar-reverse: linear-gradient(to right, #333333, #D78464);
    --button-gradient: linear-gradient(107.65deg, #ff4040 17.53%, #a20bd8 94.64%);
    --button-gradient-upscale: linear-gradient(107.65deg, #17C969 17.53%, #005DBB 94.64%);
    --border-gradient: var(--button-gradient);
    --border-light: rgba(203, 205, 254, 0.22);
    --heading-font: Inter, sans-serif;
    --heading-font-weight: 700;
    --subheading-font-weight: 700;
    --body-font: Inter, sans-serif;
    --bg-color: #09020f;
    --secondary-text-color: #01A5FF;
    --secondary-bg-color: linear-gradient(92.99deg, rgba(1, 72, 186, 0.05) 1.35%, rgba(1, 165, 255, 0.05) 104.47%);
    --bg-color-80: rgba(16, 17, 18, 0.8);
    --error: #FF5858;
    --border-color: #323232;
    --secondary-bg: #A50CD4;
    --secondary-border-color: #A50CD4;
    --button-border: #A50CD4;
    --button-border-upscale: #005DBB;
    --secondary-button-border: #323232;
    --border-radius-20: 20px;
    --border-radius-16: 16px;
    --border-radius-10: 10px;
    --border-radius-12: 12px;
    --border-radius-8: 8px;
    --letter-spacing: normal;
    --white-100: rgba(255, 255, 255, 1);
    --white-90: rgba(255, 255, 255, 0.9);
    --white-80: rgba(255, 255, 255, 0.8);
    --white-70: rgba(255, 255, 255, 0.7);
    --white-12: rgba(255, 255, 255, 0.12);
    --white-4: rgba(255, 255, 255, 0.04);
    --grey-100: #242B38;
    --gray-200: #C6CFE2;
    --gray-300: #AAABC5;
    --grey-400: #49494F;
    --grey-500: #303233;
    --grey-600: #242525;
    --grey-700: #1A1B1B;
    --grey-900: #171921;
    --grey-1000: #151617;
    --banner-title-max-width: 1039px;
    --banner-description-max-width: 795px;
    --section-description-max-width: 795px;
    --content-max-width: 498px;
    --white: #FFFFFF;
    --light-100: #ECECF9;
    --light-200: #C6CFE2;
    --light-300: #AAABC5;
    --light-400: #8A8AA8;
    --h1-d: 48px;
    --h1-m: 24px;
    --h2-d: 40px;
    --h2-m: 24px;
    --h3-d: 34px;
    --h3-m: 20px;
    --subtitle-1-d: 24px;
    --subtitle-1-m: 18px;
    --subtitle-2-d: 20px;
    --subtitle-2-m: 16px;
    --body-1-d: 18px;
    --body-1-m: 16px;
    --body-2-d: 16px;
    --body-2-m: 14px;
    --body-3-d: 14px;
    --body-3-m: 12px;
    --body-4-d: 12px;
    --body-4-m: 10px;
    --caption-1-d: 14px;
    --letter-spacing-1: 1.2px;
    --letter-spacing-2: 1px;
    --letter-spacing-3: 0.6px;
    --letter-spacing-4: 0.5px;
    --line-height-62: 62px;
    --line-height-58: 58px;
    --line-height-56: 56px;
    --line-height-49: 49px;
    --line-height-36: 36px;
    --line-height-32: 32px;
    --line-height-28: 28px;
    --line-height-12: 22px;
    --line-height-16: 16px;
    -webkit-font-smoothing: antialiased;
    font-family: var(--body-font);
    user-select: unset;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}


.UploadImage__MainImage-sc-vfspzq-13 kiIfsv {
    --primary: #01A5FF;
    --brand-gradient: linear-gradient(92.99deg, #0148BA 1.35%, #01A5FF 104.47%);
    --brand-gradient-reverse: linear-gradient(92.99deg, #01A5FF 1.35%, #0148BA 104.47%);
    --brand-gradient-erasebg: linear-gradient(120.55deg, #FF4040 18.56%, #A20BD8 98.01%);
    --brand-gradient-erasebg-reverse: linear-gradient(120.55deg, #A20BD8 18.56%, #FF4040 98.01%);
    --brand-gradient-upscale: linear-gradient(107.65deg, #17C969 17.53%, #005DBB 94.64%);
    --brand-gradient-upscale-reverse: linear-gradient(107.65deg, #005DBB 17.53%, #17C969 94.64%);
    --brand-gradient-watermark: linear-gradient(132.2deg, #F9D423 7.64%, #FF4E50 97.11%);
    --brand-gradient-watermark-reverse: linear-gradient(132.2deg, #FF4E50 7.64%, #F9D423 97.11%);
    --brand-gradient-shrink: linear-gradient(90.36deg, #AD00FF 0.31%, #330371 104.9%);
    --brand-gradient-shrink-reverse: linear-gradient(120.55deg, #330371 18.56%, #AD00FF 98.01%);
    --brand-gradient-glamar: linear-gradient(to right, #D78464, #333333);
    --brand-gradient-glamar-reverse: linear-gradient(to right, #333333, #D78464);
    --button-gradient: linear-gradient(107.65deg, #ff4040 17.53%, #a20bd8 94.64%);
    --button-gradient-upscale: linear-gradient(107.65deg, #17C969 17.53%, #005DBB 94.64%);
    --border-gradient: var(--button-gradient);
    --border-light: rgba(203, 205, 254, 0.22);
    --heading-font: Inter, sans-serif;
    --heading-font-weight: 700;
    --subheading-font-weight: 700;
    --body-font: Inter, sans-serif;
    --bg-color: #09020f;
    --secondary-text-color: #01A5FF;
    --secondary-bg-color: linear-gradient(92.99deg, rgba(1, 72, 186, 0.05) 1.35%, rgba(1, 165, 255, 0.05) 104.47%);
    --bg-color-80: rgba(16, 17, 18, 0.8);
    --error: #FF5858;
    --border-color: #323232;
    --secondary-bg: #A50CD4;
    --secondary-border-color: #A50CD4;
    --button-border: #A50CD4;
    --button-border-upscale: #005DBB;
    --secondary-button-border: #323232;
    --border-radius-20: 20px;
    --border-radius-16: 16px;
    --border-radius-10: 10px;
    --border-radius-12: 12px;
    --border-radius-8: 8px;
    --letter-spacing: normal;
    --white-100: rgba(255, 255, 255, 1);
    --white-90: rgba(255, 255, 255, 0.9);
    --white-80: rgba(255, 255, 255, 0.8);
    --white-70: rgba(255, 255, 255, 0.7);
    --white-12: rgba(255, 255, 255, 0.12);
    --white-4: rgba(255, 255, 255, 0.04);
    --grey-100: #242B38;
    --gray-200: #C6CFE2;
    --gray-300: #AAABC5;
    --grey-400: #49494F;
    --grey-500: #303233;
    --grey-600: #242525;
    --grey-700: #1A1B1B;
    --grey-900: #171921;
    --grey-1000: #151617;
    --banner-title-max-width: 1039px;
    --banner-description-max-width: 795px;
    --section-description-max-width: 795px;
    --content-max-width: 498px;
    --white: #FFFFFF;
    --light-100: #ECECF9;
    --light-200: #C6CFE2;
    --light-300: #AAABC5;
    --light-400: #8A8AA8;
    --h1-d: 48px;
    --h1-m: 24px;
    --h2-d: 40px;
    --h2-m: 24px;
    --h3-d: 34px;
    --h3-m: 20px;
    --subtitle-1-d: 24px;
    --subtitle-1-m: 18px;
    --subtitle-2-d: 20px;
    --subtitle-2-m: 16px;
    --body-1-d: 18px;
    --body-1-m: 16px;
    --body-2-d: 16px;
    --body-2-m: 14px;
    --body-3-d: 14px;
    --body-3-m: 12px;
    --body-4-d: 12px;
    --body-4-m: 10px;
    --caption-1-d: 14px;
    --letter-spacing-1: 1.2px;
    --letter-spacing-2: 1px;
    --letter-spacing-3: 0.6px;
    --letter-spacing-4: 0.5px;
    --line-height-62: 62px;
    --line-height-58: 58px;
    --line-height-56: 56px;
    --line-height-49: 49px;
    --line-height-36: 36px;
    --line-height-32: 32px;
    --line-height-28: 28px;
    --line-height-12: 22px;
    --line-height-16: 16px;
    -webkit-font-smoothing: antialiased;
    font-family: var(--body-font);
    user-select: unset;
    aspect-ratio: auto 639 / 727;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    object-fit: contain;
    height: 100%;
    width: 45%;
    object-position: center top;
}