body {
    background-image: url(img21.webp);
    background-color: rgba(128, 128, 128, 0.589);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;

}

.container {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    /* height: 600px; */
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);

    justify-content: center;

    padding: 70px 0;

    /* position: absolute;
    top: 5%;
    right: 5%;

    width: 400px;
    height: 600px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;

    transition: height .2s ease, height .2s ease; */



}

h2 {
    text-align: center;
    color: wheat;
    margin-bottom: 20px;
}

.em {
    color: #fff;
    position: absolute;
    margin-top: -10px;
    margin-left: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 7px;
}

input {
    position: absolute;
    padding: 4px 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
}

button {
    position: absolute;
    background-color: #007bff;
    color: #fff;
    border: none;
    width: 40%;
    left: 50%;
    margin-top: 30px;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    cursor: pointer;
}

#message {
    margin-top: 15px;
    text-align: center;
    color: #007bff;
}